<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <title>ApotecárIA</title>
  </head>
  <body>
    <header class="header">
      <a href="index.html">
        <img
          src="imgs/ApotecárIa.png"
          alt="ApotecárIA, IA para identificacao de plantas"
        />
      </a>
      <p>Protótipo informativo para identificacao de plantas</p>
      <ul>
        <li><a href="index.html">Página inicial</a></li>
        <li><a href="buscar.html">Buscar</a></li>
        <li><a href="adicionar.html">Cadastrar</a></li>
        <li><a href="editar.html">Editar</a></li>
        <li><a href="excluir.html">Excluir</a></li>
      </ul>
    </header>
    <main class="body">
      <div class="col">
        <h1>Buscar uma planta</h1>
        <form action="">
          <h4>Características das flores:</h4>
          <div id="filters" class="filter-container"></div>
          <input type="button" value="Buscar" id="buscar" />
          <input type="button" value="Nova busca" id="limpar" />
        </form>
      </div>
      <div class="col">
        <div class="row">
          <div id="resultados" class="resultados-container"></div>
          <div id="mais-opcoes"></div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="col">
        <p>
          ApotecárIA é apenas um protótipo informativo. Em caso de intoxicacao
          ou perigo, procure imediatamente o servico de saúde mais próximo. Para
          informações precisas, consulte um especialista
        </p>
      </div>
      <div class="col">
        <p>
          Sistema desenvolvido por Eduardo Minholi, Janaina Silva e Nuno Miguel
          como requisito para obtencao de nota parcial na disciplina de
          Introducão à Inteligência Artificial - 2026.
        </p>
      </div>
    </footer>
    <script src="js/dados_botanicos.js"></script>
    <script src="js/script.js"></script>
    <script src="js/buscar.js"></script>
  </body>
</html>
