<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <title>ApotecárIA</title>
  </head>
  <body>
    <header class="header">
      <a href="index.html">
        <img
          src="imgs/ApotecárIa.png"
          alt="ApotecárIA, IA para identificacao de plantas"
        />
      </a>
      <p>Protótipo informativo para identificacao de plantas</p>
    </header>
    <main class="body">
        <div class="col">
            <form action="excluir" method="get" class="excluir">
            <div class="row">
                    <label for="nome-planta">Informe o nome da planta que deseja excluir:</label>
                    <input type="text" name="nome-planta" id="nome-planta">
                    <input type="button" value="excluir" class="action" onclick="alert('Planta excluida com sucesso da base de dados')">
                </div>
            </form>
        </div>

    </main>
    <footer class="footer">
      <div class="col">
        <p>
          ApotecárIA é apenas um protótipo informativo. Em caso de intoxicacao
          ou perigo, procure imediatamente o servico de saúde mais próximo. Este
          protótipo é apenas informativo. Consulte um especialista para
          identificação correta e precisa de qualquer espécie vegetal.
        </p>
      </div>
      <div class="col">
        <p>
          Sistema desenvolvido por Eduardo Minholi, Janaina Silva e Nuno Miguel
          como requisito para obtencao de nota parcial na disciplina de
          Introducão à Inteligência Artificial - 2026.
        </p>
      </div>
    </footer>
  </body>
</html>
