<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <title>ApotecárIA</title>
  </head>
  <body>
    <header class="header">
      <a href="index.html">
        <img
          src="imgs/ApotecárIa.png"
          alt="ApotecárIA, IA para identificacao de plantas"
        />
      </a>
      <p>Protótipo informativo para identificacao de plantas</p>
    </header>
    <main class="body">
      <div class="col">
        <div class="row actions">
          <a href="buscar.html"> Buscar planta </a>
        </div>
        <div class="row actions">
          <a href="adicionar.html"> Incluir nova planta </a>
        </div>
        <div class="row actions">
          <a href="editar.html"> Alterar informações de uma planta </a>
        </div>
        <div class="row actions">
          <a href="excluir.html"> Excluir planta da base de dados </a>
        </div>
      </div>
      <div class="col img">
        <p>Protótipo informativo para identificacao de plantas</p>
        <img class="img" src="imgs/apothecary_sq.jpg" alt="" />
      </div>
    </main>
    <footer class="footer">
      <div class="col">
        <p>
          ApotecárIA é apenas um protótipo informativo. Em caso de intoxicacao
          ou perigo, procure imediatamente o servico de saúde mais próximo. Este
          protótipo é apenas informativo. Consulte um especialista para
          identificação correta e precisa de qualquer espécie vegetal.
        </p>
      </div>
      <div class="col">
        <p>
          Sistema desenvolvido por Eduardo Minholi, Janaina Silva e Nuno Miguel
          como requisito para obtencao de nota parcial na disciplina de
          Introducão à Inteligência Artificial - 2026.
        </p>
      </div>
    </footer>
  </body>
</html>
